/* .People {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
} */

.People {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
}